@use "sass:map";

@use "../../utils/functions" as f;

.configurator {
  flex-grow: 2;
  display: grid;
  grid-template-columns: 2fr 1fr;

  &__stage {
    display: flex;
    background-color: f.getColor("main", "gamma");

    canvas {
      margin: auto;
      border-radius: 1.6rem;

      &:focus {
        outline: none;
      }
    }
  }

  &__control-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: f.getColor("main", "delta");

    button {
      position: relative;
      background-color: f.getColor("main", "beta");
      font-size: 1.15rem;
      font-weight: bold;
      padding: 0.8rem 2rem;
      text-transform: uppercase;
      border-radius: 1.6rem;
      overflow: hidden;
      box-shadow: 0.08rem 0.16rem 0.24rem 0 f.getColor("main", "default");

      transform: scale(1);
      color: f.getDarkColor("main", "delta");
      transition: all 1s;

      span {
        position: relative;
        z-index: 2;
      }

      &:active {
        &::after {
          background-color: f.getColor("main", "delta");
        }
      }

      &:focus {
        outline: none;
      }

      &:hover {
        color: f.getColor("main", "alpha");
        transform: scale(1.15);

        &::after {
          opacity: 1;
        }
      }

      &::after {
        content: "";
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: f.getDarkColor("main", "delta");

        opacity: 0;
        transition: opacity 1s;
      }
    }
  }
}
