extends ../layouts/admin.pug

block content
  #texture-create-form
  if errors
    div
      each error in errors
        p #{error.message}
  if success
    div= success

block scripts
  script(type="module", src="/javascripts/pages/textures/CreateForm.js")
