@mixin inline-list {
  & > li {
    display: inline-block;
  }

  & > li ~ li {
    margin-left: 1.6rem;
  }
}

@mixin box-shadow($size: 1) {
  box-shadow: $size * 0.08rem $size * 0.16rem $size * 0.48rem #a0a0a0;
}
