@use "../../utils/variables" as v;
@use "../../utils/functions" as f;
@use "../../utils/mixins" as m;

.model-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: f.getColor("main", "delta");
  min-height: calc(100vh - #{v.$headerHeight});
  overflow-y: auto;
  padding: 1.5em 0.5em;

  h2 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 0.8em;
  }

  &__price {
    font-size: 1.2em;
  }

  &__parts {
    margin: 2em 0 0.8em;

    span {
      font-weight: bold;
      text-transform: uppercase;
      margin: 0.4em;
    }
  }

  &__texture-thumbs {
    width: 100%;
    text-align: center;
    white-space: nowrap;
    overflow-y: hidden;
    padding: 0.6em;

    input[name="texture"],
    input[name="lens"] {
      display: none;

      &:checked + label {
        @include m.glow(1.1, f.getLightColor("main", "gamma"));
      }
    }
  }

  &__texture-thumb {
    max-width: 64px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;

    & ~ label {
      margin-left: 0.6em;
    }

    img {
      max-width: 100%;
    }
  }
}
