@use "../../utils/functions" as f;
@use "../../utils/mixins" as m;

.stage {
  position: relative;
  z-index: 1;
  grid-area: 1 / 1 / 1 / 1;
  display: flex;
  background-color: f.getColor("main", "gamma");

  &__additive-select {
    position: absolute;
    top: 6vw;
    left: 6vw;
    width: 3vw;
    height: 3vw;
    line-height: 3vw;
    border-radius: 50%;
    background-color: f.getColor("main", "delta");
    color: f.getColor("main", "alpha");
    font-size: 2vw;
    font-weight: bold;
    text-align: center;
    @include m.box-shadow(0.75);
    opacity: 0.9;
    transform: scale(1);
    transition: transform 70ms;

    &:hover {
      transform: scale(1.08);
      opacity: 1;
    }

    &:active {
      transform: scale(0.98);
      transition: 0s;
    }

    &--active {
      box-shadow: 0 0 0 0.24rem f.getDarkColor("main", "gamma");
    }
  }

  canvas {
    margin: auto;
    border-radius: 1.6rem;
    font-size: 1rem;
    @include m.box-shadow(3);

    &:focus {
      outline: none;
    }
  }
}
