@import "../../sass/utils/variables";

.header {
  display: flex;
  height: $header-height;
  padding: 0.8rem;
  box-sizing: border-box;

  &__logo {
    max-height: 100%;
  }

  &__nav {
    margin-left: auto;
  }
}
