body {
  font-family: sans-serif;
  color: #222;
}

div#root {
  display: flex;
  min-height: 100vh;
}

nav {
  background-color: #666;
  color: white;
  font-weight: bold;

  li {
    padding: 0.4em;

    &.active {
      background-color: white;
      color: #666;
    }
  }
}
