@use "../utils/variables" as v;

.header {
  display: flex;
  height: v.$header-height;
  padding: 0.4rem 0.8rem;
  box-sizing: border-box;

  &__logo {
    max-height: 100%;
  }

  &__nav {
    margin-left: auto;
  }
}
