@use "sass:color";

@use "../../utils/variables" as v;

.configurator {
  flex-grow: 2;
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 0.4rem;

  &__stage {
    display: flex;
    background-color: color.scale(pink, $lightness: +15%);

    canvas {
      margin: auto;
      border-radius: 1.6rem;

      &:focus {
        outline: none;
      }
    }
  }

  &__control-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: color.scale(blue, $lightness: +40%);

    button {
      position: relative;
      background-color: color.scale(blue, $lightness: -5%);
      color: white;
      font-size: 1.15rem;
      font-weight: bold;
      padding: 0.8rem 2rem;
      text-transform: uppercase;
      border-radius: 1.6rem;
      overflow: hidden;
      border: none;
      transform: scale(1);
      transition: scale 0.8s, color 1.2s, font-weight 1.2s;
      box-shadow: 0.08rem 0.16rem 0.24rem 0 #111;

      &:focus {
        outline: none;
      }

      &:hover {
        color: color.scale(blue, $lightness: -5%);
        transform: scale(1.15);
        font-weight: bolder;

        &::after {
          opacity: 1;
        }
      }

      &::after {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: white;
        opacity: 0;
        transition: opacity 1.5s;
      }
    }
  }
}
