<form action="<%= action %>" method="POST" enctype="multipart/form-data" autocomplete="on">
  <label for="ref">Référence: </label>
  <input type="text" id="ref" name="ref" />

  <label for="name">Nom: </label>
  <input type="text" id="name" name="name" />

  <input type="file" name="img" id="img" multiple />

  <button>Valider</button>
</form>